@import "ember-bootstrap/bootstrap";
@import "app/styles/styles";

a{
    transition: color .3s ease-in-out;
}
a:hover{
    color: #5f87f0;
}
.navbar{
    padding: 0;
}
.navbar-header{
    display: block;
    height: 200px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    background-position: 0 20%;
    background-size: cover;
    background-image: url("images/bg.jpg");
}
.navbar-light .navbar-brand{
    color: #fff;
    font-size: 34px;
    font-weight: 300;
}
.list{
    list-style: none;
    padding: 0;
    &-item{
        padding: 10px 20px;
        position: relative;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &_link{
            color: #000;
        }
    }
}

//checkbox
.inputGroup {
    background-color: #fff;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    label {
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      padding: 20px 20px 20px 80px;
      z-index: 2;
      transition: color 200ms ease-in, text-decoration 200ms ease-in,;
      overflow: hidden;
      text-decoration: none;
      margin-bottom: 0;

      &:before {
        width: 40px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #5562eb;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;
      text-decoration: line-through;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54E0C7;
        border-color: #54E0C7;
      }
    }

    input {
      width: 100%;
      height: 32px;
      order: 1;
      z-index: 5;
      position: absolute;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      opacity: 0;
    }
  }

  .add-task {
    display: block;
    margin: 20px auto;
    width: 530px;
    input, button {
      display: inline-block;
      cursor: pointer;
      color: rgba(0, 0, 0, 0.3)F;
      text-decoration: none;
      outline: none;
      border-radius: 10px;
      transition: .3s ease-in-out;
    }
    input{
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 12px;
      min-width: 400px;
    }
    button{
      background-color: #5562eb;
      color: #fff;
      -webkit-appearance: none;
      border: none;
      padding: 12px 40px;

      &:hover, &:active {
        background-color: #54E0C7;
      }
      &:active {
        transform: scale(1.1)
      }
    }
  }
  //remove button
  .remove-button {
    width: 40px;
    height: 40px;
    box-shadow: 0px 1 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid #d0d7dc;
    background: none;
    display: block;
    z-index: 9;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
    top: calc(25px/2);
    bottom: 0;
    padding: 0;
    transition: .3s ease-in;
  
  &:before,
  &:after {
    content: "";
    width: 55%;
    height: 2px;
    background: #d0d7dc;
    position: absolute;
    top: 48%;
    left: 22%;
    transform: rotate(-45deg);
    transition: all 0.3s ease-out;
  }
  &:after {
    transform: rotate(45deg);
    transition: all 0.3s ease-out;
  }
  &:hover:before,
  &:hover:after {
    transform: rotate(180deg);
  }
  &:active, &:focus {
    outline: none;
  }
  &:active {
    background: #54E0C7;
    &:before,
    &:after{
      background: #fff;
    }

  }
}